/* UNIVERSAL STYLES | UNIVERSAL STYLES */
/* UNIVERSAL STYLES | UNIVERSAL STYLES */
/* UNIVERSAL STYLES | UNIVERSAL STYLES */
/* UNIVERSAL STYLES | UNIVERSAL STYLES */
/* UNIVERSAL STYLES | UNIVERSAL STYLES */

html {
 overflow-x: hidden;
 font-family: Avenir, Helvetica, sans-serif;
}

.container {
  display: flex;
  max-width: 100%;
  position: relative;
  top: 64px;
}

.mobilecontainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.left {
  display: block;
  justify-content: flex-start;
  width: 60%;
  height: auto;
}

.right {
  display: block;
  justify-content: flex-start;
  width: 40%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
  padding-bottom: 16px;
}

h2 {
  font-family: Crimson, Georgia, serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.0;
  padding: 0px 0px 8px 0px;
}

h3 {
  font-size: 24px;
  font-weight: lighter;
  line-height: 1.0;
  padding-bottom: 12px;
}


h4 {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 12px;
}

h5 {
  font-size: 24px;
  font-weight: 100px;
  padding-bottom: 12px;
}

h6 {
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 12px;
}

/* NAV BAR | NAV BAR | NAV BAR | NAV BAR */
/* NAV BAR | NAV BAR | NAV BAR | NAV BAR */
/* NAV BAR | NAV BAR | NAV BAR | NAV BAR */
/* NAV BAR | NAV BAR | NAV BAR | NAV BAR */
/* NAV BAR | NAV BAR | NAV BAR | NAV BAR */

#navbar {
  display: flex;
  position: fixed;
  top: 0px;
  height: 64px;
  width: 100%;
  background-color: #98002e;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #000000;
  z-index: 100;
}

#navbarleft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: Avenir, Helvetica, sans-serif;
  margin-left: 24px;
}

#navbarleft img {
  display: block;
  height: 32px;
}

#navbarleft h1 {
  margin-left: 10px;
  font-weight: 600;
}

#navbarleft span {
  font-weight: 200;
}

#navbarright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#navbarright nav {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
}

#navbarright a {
  color: #ffffff;
  text-decoration-color: #ff0000;
  font-family: Avenir, Helvetica, sans-serif;
  padding: 8px 8px 8px 8px;
}

#navbarright a:hover {
  color: #bc9b6a;
}

#navbarmobile {
    display: none;
}

@media screen and (max-width: 700px) {
  #navbar {
    display: none;
  }

  #navbarmobile {
    display: flex;
    position: fixed;
    width: 100%;
    height: 64px;
    background-color: #98002e;
    z-index: 100;
    border-bottom: 2px solid #000000;
  }

  #navbarmobile nav {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
  }
}

/* TOP TOP TOP TOP TOP TOP TOP TOP */
/* TOP TOP TOP TOP TOP TOP TOP TOP */
/* TOP TOP TOP TOP TOP TOP TOP TOP */
/* TOP TOP TOP TOP TOP TOP TOP TOP */
/* TOP TOP TOP TOP TOP TOP TOP TOP */

#top {
  background-color: #bc9b6a;
  padding: 32px 12px 32px 12px;
  justify-content: flex-start;
  align-items: flex-start;
}

#topleft {
  width: 60%;
}

#top img {
  display: block;
  max-width: 100%;
}

#topright {
  display: block;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  line-height: 2.8rem;
  padding: 0px 24px 24px 24px;
}

#toprighttext {
  display: block;
  font-family: Avenir, Helvetica, sans-serif;
}

#button {
  display: block;
  width: 50%;
  text-align: center;
  padding: 8px;
  background-color: #98002e;
  color: #ffffff;
  border: solid 2px #000000;
}

#button a {
  color: #ffffff;
  font-family: Avenir, Helvetica, sans-serif;
  font-weight: 600;
}

@media screen and (max-width: 700px) {

  h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
  }

  h3 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
  }
}

@media screen and (max-width: 700px) {

  #top {
    flex-direction: column;
    padding: 0px 0px 0px 0px;
  }

  #topleft {
    display: block;
    width: 100%;
    padding: 0px 0px 0px 0px;
  }

  #top img {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0px 0px 0px 0px;
  }

  #topright {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0px 0px 0px 0px;
  }

  #toprighttext {
    padding: 8px;
  }

  #toprighttext h2, h3 {
    font-size: 24px;
    line-height: 1.2;
  }

  #topright #button {
    display: block;
    margin: 16px 25% 16px 25%;
    text-align: center;
    justify-content: center;
  }

  #toprighttext {
    display: block;
    margin: 32px 16px 16px 16px;
    padding: 0px 0px 0px 0px;
  }

  #button {
    margin-left: 25%;
    margin-right: 25%;
  }
}

/* MAIN CONTENT | MAIN CONTENT | MAIN CONTENT */
/* MAIN CONTENT | MAIN CONTENT | MAIN CONTENT */
/* MAIN CONTENT | MAIN CONTENT | MAIN CONTENT */
/* MAIN CONTENT | MAIN CONTENT | MAIN CONTENT */
/* MAIN CONTENT | MAIN CONTENT | MAIN CONTENT */

#main, #thesis {
  display: flex;
  position: relative;
  background-color: #c7bcac;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px 12px 32px 12px;
}

#mainleft, #thesisleft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  vertical-align: top;
  width: 58%;
}

#mainleft img {
  display: block;
  max-width: 100%;
  height: auto;
  padding-bottom: 16px;
}

#mainright, #thesisright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 38%;
  text-align: left;
  line-height: 1.4;
  padding: 0px 24px 24px 24px;
}

#mainrightsmall {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border: 1px solid #98002e;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  line-height: 1.4;
}

#mainrightsmallimg {
  width: 35%;
  height: auto;
  justify-content: center;
  align-content: center;
}

#mainrightsmallimg img {
  width: 80%;
  max-width: 300px;
  min-width: 50px;
  height: auto;
}

#mainrightsmallcontent {
  display: block;
  flex-direction: column;
  flex-shrink: 1.5;
  width: 65%;
  padding: 10px 10px 10px 10px;
  font-family: Avenir, Helvetica, sans-serif;
  color: #98002e;
  line-height: 1rem;
}

a {
  font-size: 14px;
  font-weight: bold;
  color: #c7bcac;
}

#mainentry {
  display: none;
}

@media screen and (max-width: 700px) {

  #main, #thesis {
    display: block;
    padding: 0px 0px 0px 0px;
  }

  #mainleft, #thesisleft {
    width: 100%;
  }

  #mainleft img, #thesisleft video {
    display: block;
    justify-content: center;
    height: auto;
  }

  #mainlefttext, #thesislefttext {
    padding: 0px 12px 0px 12px;
  }

  #mainright {
    display: block;
    width: 100%;
    padding: 0px 0px 0px 0px;
    justify-content: center;
  }

  #mainrightsmall {
    display: none;
  }

  #mainentry {
    display: block;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    border: solid 2px #98002e;
    background-color: #ffffff;
    justify-content: center;
    padding: 16px 0px 16px 0px;
  }

  #mainentryimg img {
    display: block;
    width: 90%;
    padding: 5% 5% 0% 5%;
    height: auto;
  }

  #mainentrycontent {
    display: block;
    width: 100%;
    margin-top: 16px;
    font-family: Avenir, Helvetica, sans-serif;
    line-height: 1.2;
    justify-content: center;
    padding-left: 5%;
  }

  #mainentrycontent h4 {
    font-size: 18px;
    font-weight: bold;
  }

  #mainentrycontent h5 {
    font-size: 14px;
    font-weight: normal;
  }

  #mainentrycontent a {
    font-size: 14px;
    font-weight: bold;
    color: #c7bcac;
  }
}

/* SIXBOX | SIXBOX | SIXBOX | SIXBOX  */
/* SIXBOX | SIXBOX | SIXBOX | SIXBOX  */
/* SIXBOX | SIXBOX | SIXBOX | SIXBOX  */
/* SIXBOX | SIXBOX | SIXBOX | SIXBOX  */
/* SIXBOX | SIXBOX | SIXBOX | SIXBOX  */

#sixbox {
  position: relative;
  flex-direction: column;
  text-align: center;
  color: #98002e;
  background-color: #d2d2d2;
  padding-top: 24px;
}

#sixes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 12px 64px 0px 64px;
}

#six {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  border: 1px solid #98002e;
  margin-bottom: 12px;
}

#sixtop {
  display: block;
  height: 50%;
  flex-wrap: wrap;
}

#sixtop img {
  width: 100%;
  height: auto;
}

#sixbottom {
  display: block;
  height: 50%;
  text-align: left;
  color: #000000;
  background-color: #bc9b6a;
  line-height: 1.4;
  padding: 8px 8px 8px 8px;
}

#sixbottom h1 {
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 8px;
}

#sixbottom h2 {
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 8px;
  margin-bottom: 0px;
}

#sixmobile, #sixmobilehead {
  display: none;
}

@media screen and (max-width: 800px){

  #sixbox {
    display: none;
    justify-content: center;
  }

  #sixmobilehead {
    display: flex;
    top: 64px;
    position: relative;
    text-align: center;
    justify-content: center;
    color: #98002e;
    background-color: #d2d2d2;
    padding-top: 12px;
  }

  #sixmobile {
    display: block;
    top: 64px;
    position: relative;
    padding: 0, 24px, 0, 24px;
    justify-content: center;
  }

  #sixmobilesubj {
    display: block;
    text-align: left;
    background-color: #bc9b6a;
    line-height: 1.4;
    padding: 8px 8px 8px 8px;
    border: 4px solid #d2d2d2;
  }

  #sixmobilesubj h1 {
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 8px;
  }

  #sixmobilesubj h2 {
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 8px;
    margin-bottom: 0px;
  }
}

/* THESIS | THESIS | THESIS | THESIS */
/* THESIS | THESIS | THESIS | THESIS */
/* THESIS | THESIS | THESIS | THESIS */
/* THESIS | THESIS | THESIS | THESIS */
/* THESIS | THESIS | THESIS | THESIS */

#thesishead {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  color: #98002e;
  background-color: #c7bcac;
  padding-top: 12px;
}

#thesis {
  display: flex;
  text-align: center;
  color: #000000;
}

#thesissection {
  display: flex;
  width: 100%;
  text-align: center;
  color: #98002e;
}

@media screen and (max-width: 700px){

  #thesisleft {
    display: block;
    width: 100%;
  }

  .left {
    width: 100%;
  }

  #thesisright {
    display: none;
  }

  #thesisrightmobile {
    display: block;
    width: 100%;
  }

  #thesisentrymobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid 1px #98002e;
    background-color: #ffffff;
    justify-content: center;
    padding: 16px 5% 16px 5%;
  }

  #thesisentrymobileimg img {
    display: block;
    width: 90%;
  }

  #thesisentrymobilecontent {
    display: block;
    width: 100%;
    margin-top: 16px;
    font-family: Avenir, Helvetica, sans-serif;
    line-height: 1.2;
    justify-content: center;
  }

  #thesisentrymobilecontent h4 {
    font-size: 18px;
    font-weight: bold;
  }

  #thesisentrymobilecontent h5 {
    font-size: 14px;
    font-weight: normal;
  }

  #thesisentrymobilecontent a {
    font-size: 14px;
    font-weight: bold;
    color: #c7bcac;
  }

  #thesisimg img {
      display: block;
      width: 90%;
      height: auto;
      position: 20%;
  }
}

/* FOOTER | FOOTER | FOOTER | FOOTER  */
/* FOOTER | FOOTER | FOOTER | FOOTER  */
/* FOOTER | FOOTER | FOOTER | FOOTER  */
/* FOOTER | FOOTER | FOOTER | FOOTER  */
/* FOOTER | FOOTER | FOOTER | FOOTER  */

#footer {
  position: relative;
  height: 64px;
  background-color: #d2d2d2;
  color: #000000;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px 16px 24px;
  border-top: 1px solid #000000;
}

#footerleft, #footerright {
  display: block;
  font-size: 8px;
  font-weight: normal;
}

#footerright nav {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
}

#footerleft h6, #footerright a {
  color: #000000;
  font-family: Avenir, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding-left: 8px;
}

@media screen and (max-width: 700px){
  #footerleft {
    display: block;
    width: 100%;
    padding: 32px 0px 16px 0px;
    text-align: center;
  }

  #footerright {
    display: none;
  }
